body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Color de fons fosc */
    position: fixed; /* Fixa a la part superior */
    width: 100%; /* Ocupa l'amplada completa */
}

nav {
    background-color: #333; /* Color de fons fosc */
    color: #fff; /* Text blanc */
    position: sticky;
    top: 0;
}

main {
    padding: 20px; /* Espaiat al voltant */
}

section {
    background-color: #f5f5f5; /* Color de fons clar */
    margin-bottom: 20px; /* Marge inferior entre seccions */
    padding: 20px; /* Espaiat dins de les seccions */
}

footer {
    background-color: #333; /* Fons fosc */
    color: #fff; /* Text blanc */
    text-align: center; /* Centrat */
    padding: 20px;
}
